# ABOUT:
- this notebook adds users documents to Mongo

In [1]:
import pandas as pd 
path = r"C:\Users\tanch\Documents\NTU\NTU Year 4\Semester 1\CZ4125 - Developing Data Products\Assignments\Team Assignment - book recommendation\data\Ratings.csv\Ratings.csv"
users = pd.read_csv(path)
users

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [7]:
print(users[users['User-ID']==210959]["ISBN"].tolist())

['0027356701', '0060392452', '0061002062', '0099288524', '0140178724', '0140231021', '0141000198', '0151909199', '0312182953', '0312207689', '0312208928', '0312242646', '0312858787', '0312870493', '0312915799', '0312924585', '0312966091', '0312966970', '0316102024', '0316107093', '0316107255', '0316107298', '0316107352', '0316107387', '0316107417', '0316666343', '0316713902', '0345298411', '0345303067', '0345316509', '0345317580', '0345324447', '0345337662', '0345353145', '0345362861', '0345364309', '0345367693', '0345374673', '0345393627', '034540288X', '0345404114', '0345404785', '0345428455', '0345440013', '0345444388', '0345460952', '0374138230', '0374308276', '0375504397', '0375700129', '0375703764', '0375703918', '0375705457', '0375724834', '0375727345', '0380003953', '0380013207', '038070384X', '0380711079', '038072345X', '0380724979', '0380731851', '0380773007', '0380774445', '0380813815', '0380816032', '0385140037', '0385154194', '0385314744', '0385333005', '038533348X', '0385334206', '0385475721', '0385484518', '0385498721', '0394447689', '0394564243', '0394757645', '0394758277', '0394758285', '0394837215', '0395669588', '0425080021', '0425083837', '0425098648', '0425118703', '0425121240', '0425121631', '0425122956', '0425130215', '0425132951', '0425133540', '0425144429', '0425155404', '0425164349', '0425165701', '0425178544', '0425179516', '0425189864', '0440121221', '0440158532', '0440160677', '0440169127', '0440224608', '0440225701', '0440908523', '0441142273', '0445043024', '0445405198', '0446356573', '0446364304', '0446364800', '0446524077', '0446531421', '0446602728', '0446611867', '0446691798', '0449215024', '0449225046', '0449245489', '0449911519', '0451099346', '0451099648', '0451142934', '0451148703', '0451168690', '0451170822', '0451178599', '0451179188', '0451179803', '0451185145', '0451192176', '0451192575', '0451199669', '0451402391', '0451405099', '0451452011', '0451452313', '0451454359', '0451455266', '0452273706', '0453008917', '0486264785', '0515088757', '0515111317', '0515120278', '051770739X', '052300303X', '0525941908', '0552547042', '0553099558', '0553151746', '0553199501', '0553227599', '0553247085', '0553247123', '0553261592', '0553267981', '0553273078', '0553294385', '0553299506', '0553470469', '0553471392', '0553471740', '0553561596', '0553562967', '0553572202', '055357633X', '055357809X', '0553580078', '0553580302', '0553802291', '0670851086', '0670855030', '0671003755', '067100669X', '0671034790', '067122669X', '0671468111', '0671520954', '0671534505', '0671559958', '067162508X', '0671654349', '0671671901', '0671681567', '0671694049', '0671698559', '0671733893', '0671793543', '0671793551', '067180751X', '0679401377', '067942525X', '0679722610', '0679722637', '0679722645', '0679732497', '0679733973', '0679735771', '0679736654', '0679740171', '067974066X', '0679769420', '0679781498', '0689814348', '0740721984', '0743456823', '0759248745', '0767903625', '0786006609', '0786863137', '078686351X', '0786914297', '0802130208', '0804109176', '0804115400', '0805062971', '0805210407', '0812501985', '0812521277', '0812565363', '0812580370', '0821732625', '0821773437', '0836220889', '0843950404', '0851360114', '0871134888', '0880381205', '0884042820', '0896960137', '0917053044', '0931580587', '0971880107', '1401600352', '155166657X', '1557043450', '155817348X', '1558744592', '1559501316', '1562822403', '1568581033', '1568581750', '1573221775', '185984054X', '1881532097', '1897959206', 'B0000AA9IZ']

### connect mongo

In [1]:
from pymongo import MongoClient
import certifi
ca = certifi.where()
client = MongoClient("mongodb+srv://tanchingfhen:978775!Mj@dataproducts.hcjk1ct.mongodb.net/?retryWrites=true&w=majority", tlsCAFile=ca)
db = client["DP"] 
collection = db["users"]

## add all interations

In [9]:
from user_utilities import *
from tqdm import tqdm

In [16]:
for user_id in tqdm(users["User-ID"].unique()):
    user_info = users[users["User-ID"]==user_id]
    interactions = user_info["ISBN"].tolist()
    user_id_str = str(user_id)
    user_document = {
        "_id":user_id_str,
        "User-ID":user_id_str,
        "password":create_password(),
        "interactions":interactions
    }
    create_user(collection, user_document)

100%|██████████████████████████████████████████████████████████████████████████| 105283/105283 [34:36<00:00, 50.71it/s]

### create a user

In [76]:
document = {
    "User-ID":"276725",
    "password":create_password(),
}
create_user(collection, document)

### check if user exists

In [5]:
collection.find_one({"_id":"276725"})

{'_id': '276725',
 'User-ID': '276725',
 'password': '<kIHSB&x-;kATLz',
 'interactions': ['034545104X', '034545104X']}

### add_user_interaction

In [82]:
add_user_interaction(collection, "276725", "034545104X")

In [14]:
# find with $or operator
for d in collection.find({}):
    print(d)

{'_id': '276725', 'User-ID': '276725', 'password': 'av}z[f,DDm?-jK2', 'interactions': ['034545104X']}
{'_id': '276726', 'User-ID': '276726', 'password': '|H01%B?k.bDWP4]', 'interactions': ['0155061224']}
{'_id': '276727', 'User-ID': '276727', 'password': "{HH}*:1:L;+&,3'", 'interactions': ['0446520802']}
{'_id': '276729', 'User-ID': '276729', 'password': "ze4H^y?+&r'S6/%", 'interactions': ['052165615X', '0521795028']}
{'_id': '276733', 'User-ID': '276733', 'password': "o'nQHW3~6n9$+9i", 'interactions': ['2080674722']}
{'_id': '276736', 'User-ID': '276736', 'password': '~%Q}o57u!6`]1/9', 'interactions': ['3257224281']}
{'_id': '276737', 'User-ID': '276737', 'password': '"R6[bBmiAv,F)&c', 'interactions': ['0600570967']}
{'_id': '276744', 'User-ID': '276744', 'password': 'x"<"*%c_Beg+9+%', 'interactions': ['038550120X']}
{'_id': '276745', 'User-ID': '276745', 'password': "J'_Um4H>F/~/n`s", 'interactions': ['342310538']}
{'_id': '276746', 'User-ID': '276746', 'password': 'T-!JJ4mC`6Rp>9*', 'interactions': ['0425115801', '0449006522', '0553561618', '055356451X', '0786013990', '0786014512']}

### delete documents

In [15]:
# x = collection.delete_many({})
print(x.deleted_count, " documents deleted.")

10  documents deleted.

### count_documents

In [2]:
collection.count_documents({})

105283